<% (haction = (action = @scaffold_action).to_s.humanize).downcase %>
<% haction = 'Delete' if haction == 'Destroy' %>
<% @scaffold_title = "#{plural_name = @scaffold_options[:plural_human_name]} - #{haction}" %>

<%= scaffold_tabs %>

<%=scaffold_raw scaffold_form(scaffold_url("#{action}#{@scaffold_suffix}"), :method=>scaffold_idempotent_action?(action) ? :get : :post) %>
<%= haction %> <%= @scaffold_options[:singular_human_name]%>:
<% if @scaffold_class.scaffold_use_auto_complete %>
  <%=scaffold_raw scaffold_text_field_tag_with_auto_complete('id', @scaffold_options[:singular_name]) %>
<% else %>
  <%=scaffold_raw scaffold_select_tag('id', @scaffold_objects) %>
<% end %>
<br /><br />
<input class="btn btn-<%= scaffold_idempotent_action?(action) ? 'primary' : 'danger' %>" type="submit" value="<%= haction %> <%= @scaffold_options[:singular_human_name] %>" />
</form>

<%=scaffold_raw scaffold_check_link('Manage Models', true, 'index') %>

<p>Custom View</p>
